#wrap{
    background-color: #a23f25;
    font-size: 1.2rem;
    height: 3rem;
}

.nav-up a{
    color: #FFFFFF99;
}

.nav-up .wrap-nav{
    color: #FFFFFF99;
}

.nav-up i{
    color: white;
}

.register a{
    font-size: 1.3rem;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    #wrap{
        background-color: #a23f25;
        height: 5rem;
    }

    .nav-up{
        gap: 1rem;
    }
}


.navbar{
    color: #d4e0ef;
    height: 3.25em;
    left: 0;
    line-height: 3.25em;
    position: absolute;
    text-align: right;
    top: 6em;
    width: 100%;
    z-index: 10001;
}

.nav-area h2{
    font-size: 2rem;
    color: white;
}

.nav-area .store{
    color: #b7472a;
}

.product-dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content {
  width: 15rem;
  height: 14rem;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px .8rem 1.9rem rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: .5rem;
  padding: 0;
}

.dropdown-content li a {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
}

.dropdown-content li a:hover {
  background-color: #f1f1f1;
}

.product-dropdown:hover .dropdown-content {
  display: block;
}

.icon-dropdown-content{
  position: relative;
  display: inline-block;
}

.icon-content{
  width: 30rem;
  height: 32rem;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px .8rem 1.9rem rgba(0,0,0,0.2);
  z-index: 1;
  right: -4rem;
  border-radius: .5rem;
  padding: 0;
}

.icon-content li a{
  display: block;
  width: 100%;
}

.icon-content li a:hover{
  background-color: #f1f1f1;
}

.icon-dropdown-content:hover .icon-content{
  display: block;
}

.nav_item{
    font-size: 1.4rem;
    color: #FFFFFF99;
}

.nav_item:hover{
    color: white;
}

#hero-wrap{
    background-image: url(img/bg_2.jpg.webp);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    height: 70rem;
}

#hero-wrap .text h1{
    margin-top: 20rem;
    font-size: 8rem;
    color: #fff;
    line-height: 1.1;
    font-weight: 700;
    font-style: italic;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #fff;
}

#ftco-intro{
    background-color: #a23f25;
    height: 28rem;
}

#ftco-intro .icon .fa-hand-holding-heart, .fa-truck, .fa-sack-dollar{
    font-size: 8rem;
}

#ftco-intro .text h2{
    font-size: 1.8rem;
    color: white;
}

#ftco-intro .text p{
    font-size: 1.6rem;
    color: #FFFFFFCC;
}

#about{
    margin-top: 8rem;
}

.counter-box{
  padding-top: 7rem;
}

#ftco-section{
    margin-top: 8rem;
    padding-bottom: 8rem;
}

.drink_kind{
    display: flex;
    gap: 5rem;
}

.about-image img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.sort {
    position: relative;
    display: inline-block;
  }
  
  .border-circle {
    width: 17rem;
    height: 17rem;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 1px solid #b7472a;
    border-radius: 50%;
    transition: all 0.6s ease;
  }
  
  .sort img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: block;
  }
  
  .sort:hover .border-circle {
    border-radius: 50%;
    width: 11rem;
    height: 11rem;
    top: 2rem;
    left: 2rem;
    right: 1rem;
    bottom: 1rem;
    border-color: rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.4);
  }
  

.sort h3{
    color: black;
    font-weight: 300;
}

.prod-heading{
    margin-bottom: 3rem;
}

.product{
    position: relative;
    display: inline-block;
}

.product-img{
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .product-img:hover .overlay{
    opacity: 1;
  }

  .prod-icon{
    width: 5rem;
    height: 5rem;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #fff;
  }

  .prod-icon i{
    color: white;
    font-size: 2rem;
  }

  .prod-icon:hover{
    background: white;
  }

  .prod-icon:hover i{
    color: black;
  }

  .product .desc .sale{
    background-color: #b7472a;
    position: absolute;
    top: 0;
    left: 4px;
    font-size: 12px;
    padding: 0 10px;
    color: #fff;
  }

  .product .desc{
    position: relative;
    padding: 2rem;
  }

  .product .desc h2{
    font-weight: 300;
    text-transform: none;
    font-size: 2.2rem;
  }

  .btn-danger-product{
    margin-top: 5rem;
    width: 34rem;
    height: 3.6rem;
  }

  #testimony-section{
    margin-top: 8rem;
    background-image: url(img/bg_4.jpg.webp);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    height: 65rem;
    position: relative;
  }

  #testimony-section .overlay1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1.2); 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
  }

  .testimony-heading{
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-top: 8rem;
    z-index: 2;
  }

  .testimony-box{
    width: 35rem;
    height: 22rem;
    display: block;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 4rem;
    border-radius: .2rem;
    color: rgba(255, 255, 255, 0.7);
    z-index: 2;
    box-shadow: 0px .4rem .6rem rgba(0, 0, 0, 0.3);
  }

  .carousel-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    z-index: 2;
}

input[type="radio"] {
    display: none;
}

.carousel {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.dots label {
    width: 1rem;
    height: 1rem;
    background: #bbb;
    border-radius: 50%;
    margin: 0 .5rem;
    cursor: pointer;
    transition: background 0.3s;
}

#t-1:checked ~ .carousel { transform: translateX(0%); }
#t-2:checked ~ .carousel { transform: translateX(-100%); }
#t-3:checked ~ .carousel { transform: translateX(-200%); }

#t-1:checked ~ .dots label:nth-child(1),
#t-2:checked ~ .dots label:nth-child(2),
#t-3:checked ~ .dots label:nth-child(3) {
    background: rgb(255, 255, 255);
}

  .testimony-icon{
    position: absolute;
    top: -2rem;
    left: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #b7472a;
  }

  .testimony-icon i{
    font-size: 2rem;
    color: white;
    padding-left: 1rem;
  }

  .testimony-text{
    padding-top: 3rem;
  }

  #blog{
    padding-top: 8rem;
    padding-bottom: 8rem
  }

  .footer-area{
    padding-top: 10rem;
  }

  .footer-social-icon li a{
    height: 5rem;
    width: 5rem;
    display: block;
    float: left;
    background: #b7472a;
    border-radius: 50%;
    position: relative;
  }

  .footer-social-icon li a i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    color: rgb(255, 255, 255, 0.5);
  }

  .footer-list li a{
    color: #FFFFFF80;
    text-transform: none;
    font-size: 1.6rem;
  }

  .footer-list li a i{
    font-weight: bold;
  }

  .footer-end-area{
    padding-top: 3rem;
  }

  .product-payload li{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid #a23f25;
    position: relative;
  }

  .product-payload li a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    color: #a23f25;
  }

  .product_text{
    display: flex;
    gap: 37rem;
    margin-bottom: 2.5rem;
  }

  .products-sidebar{
    padding: 0 2rem;
  }

  .cart-table-head{
    width: max-content;
    height: 8rem;
    background-color: #a23f25;
  }

  .cart-table-head tr th{
    padding-bottom: 2rem;
    border: none;
    padding: 3rem;
    font-size: 2rem;
    font-weight: 500;
    color: white;
  }

  .table tbody td{
    border: none;
    padding: 3rem;
    background: #fff;
    border-bottom: .4rem solid #f8f9fd;
    vertical-align: middle;
  }

  .table tbody .quantity{
    width: 10%;
  }

  .input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
  }

  .input-group > .form-control{
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }

  .form-control{
    height: 5.2rem !important;
    background: #fff !important;
    color: #000000 !important;
    font-size: 1.8rem;
    border-radius: .5rem;
    box-shadow: none !important;
    display: block;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
  }

  .cart-total{
    width: 100%;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 2rem;
  }

  .cart-total h3{
    font-size: 2.4rem;
    color: #000000;
  }

  .cart-total p{
    font-size: 1.6rem;
    color: #808080;
  }

  .cart-total p span{
    display: block;
    width: 50%;
  }

  .cart-total .total-price{
    text-transform: uppercase;
  }

  .checkout-btn{
    width: 100%;
    margin-top: 1rem;
    height: 4rem;
    padding-top: .6rem;
    font-size: 1.6rem;
  }

  .billing-form{
    padding-top: 8rem;
  }

  .billing-form h3{
    font-size: 2.4rem;
    color: #000000;
  }

  .billing-form .form-control{
    font-weight: 300;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    height: 5.8rem !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background: transparent !important;
    color: rgba(0, 0, 0, 0.4) !important;
    font-size: 1.4rem;
    border-radius: 0px;
    box-shadow: none !important;
  }

  .billing-form .form-group label{
    font-size: 1.8rem;
    margin: 0rem 0rem .8rem;
    color: #000000;
    margin-top: 3rem;
  }

  .cart-detail{
    width: 100%;
    display: block;
  }

  #detail-blog p{
    color: #808080;
    font-size: 1.6rem;
    text-transform: none;
  }

  .detail-blog-page{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 9.6rem 4rem 9.6rem 4rem;
  }

  .detail-btn a{
    text-transform: uppercase;
    display: inline-block;
    padding: .4rem 1rem;
    margin-bottom: .7rem;
    margin-right: .4rem;
    border-radius: .4rem;
    color: #000000;
    border: 1px solid #ccc;
    font-size: 1.1rem;
  }

  .detail-user{
    padding: 4rem;
    background-color: #f5f4f0;
  }

  .detail-user .user-img{
    width: 45rem;
    height: 14rem;
  }

  .detail-user .user-img img{
    width: 100%;
    height: 100%;
  }

  .comment-list{
    margin-top: 4rem;
  }

  .comment{
    padding: 0;
    float: left;
    width: 100%;
    margin: 3rem;
  }

  .comment-img{
    width: 5rem;
    float: left;
  }

  .comment-img img{
    width: 100%;
    border-radius: 50%;
  }

  .comment-desc{
    text-transform: none;
    float: right;
    width: calc(90% - 1rem);
  }

  .comment-date{
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .reply{
    text-transform: uppercase;
    display: inline-block;
    padding: .4rem 1rem;
    margin-bottom: .7rem;
    margin-right: .4rem;
    border-radius: .4rem;
    color: #000000;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    background-color: #f5f4f0;
  }

  .comment-kids{
    padding: 5rem 0 0 4rem;
    margin: 0;
    float: left;
    width: 100%;
  }

  .comment-form{
    background-color: #f5f4f0;
    padding: 6rem;
    margin-top: 3rem;
  }

  .message-control{
    background: #fff !important;
    border-radius: .5rem;
    box-shadow: none !important;
    display: block;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
  }

  .comment-form .form-group label{
    font-size: 1.6rem;
    margin: 0rem 0rem .8rem;
    color: #808080;
    margin-top: 3rem;
  }

  .post-btn{
    width: 18rem;
    height: 5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    margin-top: 2rem;
  }

  .search-control{
    font-size: 1.6rem;
    color: #808080;
    font-weight: 100;
  }

  .search-form{
    position: relative;
  }

  .search-form .fa-magnifying-glass{
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #808080;
    font-size: 1.6rem;
  }

  .categories li{
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
    font-size: 1.5rem;
    text-transform: none;
  }

  .categories li a span{
    position: absolute;
    right: 0;
    top: 7px;
    color: #ccc;
  }

  .categories li a:hover{
    color: #a23f25;
  }

  .blog-recent-img{
    display: block;
    width: 70%;
    height: 7rem;
    border-radius: 10%;
  }

  .blog-recent-img img{
    border-radius: 10%;
  }

  .product-details{
    margin-top: 9.6rem;
  }

  .single-prod-img{
    width: 54rem;
    height: 70rem;
  }

  .single-prod-img img{
    width: 100%;
    height: 100%;
  }

  .prod-detail-desc{
    padding: 0 3rem;
  }

  .rayting p a{
    color: #a23f25;
  }

  .single-product{
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }

  .prod-content{
    padding: 9.6rem 0;
  }

  .tab-content{
    width: 19rem;
    height: 7rem;
    background-color: #a23f25;
    font-size: 2.2rem;
    color: white;
    text-align: center;
    padding: 2rem 4rem;
  }

  .tab-prod-content{
    width: 19rem;
    height: 7rem;
    background-color: #e5e2e2;
    font-size: 2.2rem;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 2rem 4rem;
  }

  .prod-end{
    margin-top: 1rem;
    background-color: #f5f4f0;
    padding: 4rem 3rem;
  }

  .dropdown{
    position: relative;
  }

  .bootstrap-select>select{
    position: absolute !important;
    bottom: 0;
    left: 50%;
    display: block !important;
    width: .5px !important;
    height: 100% !important;
    padding: 0 !important;
    opacity: 0 !important;
    border: none;
  }

  .select-prod{
    width: 20rem;
  }

  .sign-container {
    padding: 8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

  .login-box {
    background: #fff;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    width: 40rem;
    height: 36rem;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.8rem;
    cursor: pointer;
}

h2 {
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-size: 1.4rem;
    margin: .5rem 0;
}

input {
    width: 100%;
    padding: .8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
}

.forgot-password {
    font-size: 1.2rem;
    text-align: left;
    display: block;
    margin-bottom: 1.5rem;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-btn {
    background: #a23f25;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.6rem;
}

.login-btn:hover {
    opacity: 0.9;
}

.signup-text {
    font-size: 1.4rem;
    margin-top: 2rem;
}

.signup-text a {
    text-decoration: none;
    font-weight: bold;
}

.signup-text a:hover {
    text-decoration: underline;
}

